*{

    margin: 0;

    padding: 0;
}

.slider{

width:100vw ;

height:100vh ;

overflow: hidden;

position: relative;

}

.slides{

width:400%;

height:100% ;

display: flex;

animation:slide 22s infinite ;

}

.slide{

width:100vw;

height:100vh ;

object-fit: cover;

}

@keyframes slide {

0%{transform: translateX(0);}

25%{transform: translateX(-100vw);}

50%{transform:translateX(-200vw) ;}

75%{transform:translateX(-300vw) ;}

100%{transform:translateX(0) ;}

}